html {
    background-image: url(../Images/food3.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
body{
    margin: 0;
    scroll-behavior: smooth;
 }
 .home{
    background-color:rgba(0, 0, 0, 0.85);
    padding-bottom: 120px;
    padding-top: 1px;
 }

.Nav-bar{
  display: flex;
  flex-wrap: nowrap;
  background-color: rgb(12, 11, 11);
  align-items: center; 
  z-index: 100;  
  position:fixed;
  overflow: hidden;
    
}

#hd1{
  color: rgb(238, 57, 163);
  font-size:2rem; 
  padding: 14px 33px;  

}

.Nav-bar a{
  padding: 22px 33px;
  font-size: 1.2rem;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff; 
  float: left;
  text-align: center;
}

.Nav-bar a:hover {
  background-color: rgb(48, 44, 44);
  color: #ffffff;
}

.Nav-bar a.active {
  color: rgb(255, 7, 152);
  color: white;
}

.Nav-bar .icon {
  display: none;
}

.intro{
  padding-top: 100px;
  text-align: center;
  color: #ffffff;
}
.gallery-btn{
    border: 0;
    padding: 15px;
    margin-top: 2%;
    border-radius: 2%;
    background-color: rgb(155, 11, 83);
    color: #ffffff;
    font-size: 1.3rem;
}
.PK{
    padding-top: 5%;
    font-size: 4rem;
    
}

.motto{
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* about section */

.about-us{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(7, 0, 7);
    color: #ffffff;
  }
  .about-us div {
    width: 50%;
  }
  .about-img img{
    width: 100%;
    height: 700px;
  }
  .about-us-text {
    box-sizing:border-box;
    padding: 60px;
    font-size: 1.2rem;
  }
  .about-us-text h1{
    color: #ffffff;
    text-align: left;
  }

  .menu{
    font-size: 3rem;
    color: #ffffff;
    padding: 50px;
  }
  
  .gallary-image{
    display:flex;
    flex-direction: column-reverse ;
    /* justify-content: space-around; */
  }

  div.gallery img {
    width: 100%;
    height: auto;
    /* height: 10cm; */
    /* width: 10cm; */
  }
  
  div.gallery {
    /* height: 60px; */
  margin: 5px;
  border: 1px solid #ccc;
  /* float: left; */
    width: 100%;
}

* {
  box-sizing: border-box;
}
/* 
div.gallery:hover {
  border: 1px solid #777;
}
  
  div.desc {
    padding: 15px;
    text-align: center;
  } */ */
  
/* Media screen */

@media screen and (max-width: 800px) {
  .Nav-bar a:not(:first-child) {display: none;}
  .Nav-bar a.icon {
  float: right;
  display: block;
  align-items: center;
  }
}

@media screen and (max-width: 800px) {
  .Nav-bar.responsive {position: relative;}
  .Nav-bar.responsive .icon {
  position:absolute;
  right: 0;
  top: 0;
  }

  .Nav-bar.responsive a {
    float:none;
    display:flex;
    flex-wrap: wrap;
    text-align: left;
    /* padding: 10px 12px; */
  }
}

@media screen and (max-width: 800px) {
  .about-us{
    /* flex-direction: column; */
    font-size: 1rem;
  
}
}