* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
    background-image: url(../Images/food3.jpg);
    background-repeat: no-repeat;
    background-size:auto;
}
body{
    margin: 0;
    scroll-behavior: smooth;
 }
 .home{
    background-color:rgba(0, 0, 0, 0.85);
    padding-bottom:120px;
    padding-top: 1px;
 }

.Nav-bar{
  display: flex;
  background-color: rgb(12, 11, 11);
  align-items: center; 
  z-index: 100;  
  position:fixed;
  overflow: hidden;
    
}

#hd1{
  color: rgb(238, 57, 163);
  font-size:2rem; 
  padding: 14px 33px;  
}
#hd1:hover{
  background-color:rgb(12, 11, 11);
}

.Nav-bar a{
  padding: 22px 33px;
  font-size: 1.2rem;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff; 
  text-align: center;
}

.Nav-bar a:hover {
  background-color: rgb(48, 44, 44);
  color: #ffffff;
}

.Nav-bar a.active {
  color: rgb(255, 7, 152);
  color: white;
}

.Nav-bar .icon {
  display: none;
}

.intro{
  padding-top: 100px;
  text-align: center;
  color: #ffffff;
}
.gallery-btn{
    border: 0;
    padding: 15px;
    margin-top: 2%;
    border-radius: 2%;
    background-color: rgb(155, 11, 83);
    color: #ffffff;
    font-size: 1.3rem;
}
.gallery-btn:hover{
  background-color: rgb(107, 6, 57);
}
.PK{
    padding-top: 10%;
    font-size: 4rem;  
}

.motto{
  padding: 3%;
  font-size: 4rem;
  font-family: Sacramento;
}

/* about section */

.about-us{
    display: flex;
    background-color: rgb(9, 0, 9);
    color: #ffffff;
  }
  .about-us div {
    width: 50%;
  }
  .about-img img{
    width: 100%;
    height: 700px;
  }
  .about-us-text{
    box-sizing:border-box;
    padding: 4% 8% 0;
    font-size: 1.15rem;
  }
  .about-us-text h1{
    color: #ffffff;
    padding-bottom: 25px;
    text-align: left;
    font-size: 2.5rem;
  }

  #Gallary{
    background-color: black;
  }
  .menu{
    font-size: 2.5rem;
    color: #ffffff;
    padding: 60px;
    margin: 0;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
  }
  
  .column img {
    vertical-align: middle;
  }

  /* Bookings */
  
  .Booking{
      background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../Images/resturant-table.jfif);
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
  }
  .Bookings{
      display: inline-block;
      margin: 5% 0;
      height: 55%;
      width: 50%;
      padding: 50px 35px;
      background: rgba(255,255,255,0.1);
      border: 1px solid rgba(255,255,255,0.3);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgb(0,0,0,0.1);
      backdrop-filter: blur(5px);
  }
  .form-control{
      height: 1cm;
      width: 75%;
      outline: none;
      padding: 2px 15px;
      margin: 2% 12%;
      border-radius: 15px;
      border: 0;
  }
  .form-group{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 10px;
  }
  h1{
      font-size: 2rem;
      margin: 0%;
      padding-bottom: 7px;
      font-weight: 500;
      color: #000;
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  #date{
      font-size: 1rem;
  }
  .book-btn{
      padding: 10px 10px;
      font-size:2ch;
      border: 0;
      outline: none;
      border-radius: 2px;
      background-color: rgb(238, 57, 163);
  }
  .book-btn:hover{
      background-color: rgb(177, 14, 109);
  }
  .submit-btn{
      background-color: rgb(238, 57, 163);
      border: 0;
      font-weight: 600;
  }
  .submit-btn:hover{
      background-color: rgb(177, 14, 109);
  }

  /* BLOG */
#div2{display: none;}

.Blog{
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.Blog h2{
  color: white;
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.switch-btn{
  margin: 2%;  
}
.juice-btn{ 
  padding: 6px 40px;
  margin-left: 10px;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 1rem;
  border-radius: 10px;
  background-color:rgb(175, 17, 109);
}

.juice-btn:hover{
  background-color: rgb(138, 4, 84);
}

.food-btn{ 
  padding: 6px 40px;
  margin-left: 10px;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 1rem;
  border-radius: 10px;
  background-color:rgb(175, 17, 109);
}

.food-btn:hover{
  background-color: rgb(138, 4, 84);
}

.food{
  background-color:black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.food-section{
  margin: 30px;
  height: 25%;
  width: 25%;
  border-radius: 10px;
  background-color: white;
  box-shadow: 2px 2px 2px 2px rgba(90, 78, 78, 0.4);
  text-align: center;   
}
.food-section h3{
  padding: 15px;
  font-weight:500;
}

.food-section button{
  padding: 10px 20px;
  margin: 15px;
  border: none;
  color: white;
  font-size: 2rem;
  border-radius: 15px;
  background-color:rgb(175, 17, 109);
}
.food-section button:hover{
  background-color:rgb(116, 17, 74);
}
.food-section img{
  width: 100%;
  height: 100%;
  border-radius: 5px 5px 0 0;
}

.juice{
  background-color:black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.juice-section{
  margin: 10px;
  height: 25%;
  width: 25%;
  border-radius: 10px;
  background-color: white;
  box-shadow: 2px 2px 2px 2px rgb(253, 250, 250, 0.4);
  text-align: center;   
}
.juice-section h3{
  padding: 20px;
  font-weight: 500;

}
.juice-section button{
  padding: 10px 20px;
  margin: 15px;
  border: none;
  color: white;
  font-size: 2rem;
  border-radius: 15px;
  background-color:rgb(175, 17, 109);
}
.juice-section img{
  width: 100%;
  height: 100%;
  border-radius:5px 5px 0 0 ;
}
   /*Reviews */
   .Review-section{
    background-color: rgb(17, 17, 17);
    text-align: center;
   }
   .Review-section h4{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 4em;
    padding: 80px;
    color: #fff;
   }
   .Review{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: 5px 5px 5px 5px rgb(0, 0, 46);
   }
   .Box{
    height: 275px;
    width: 300px;
    color: #000;
    margin: 30px 0 40px 0;
    background:white;
    text-align:center;
    box-shadow: 2px 2px 2px 2px rgb(175, 17, 109);
    border-radius: 20% 0 20% 0%;
    transition-duration: 1.5s;
    transition-timing-function: ease-in-out;
   }
   .Box:hover{
    transform: scale(1.08, 1.08);
   }
   .title{
    padding: 20px;
    color: #000;
   }
   .title h1{
    color: #000;
    font-weight: 550;
   }
   .Box h5{
    padding: 15px 30px;
    font: 0.9em sans-serif;
    font-weight: 550;
   }
   .Box p{
    padding: 15px 30px;
    font-weight: 540;
   }

  #contact{
    background-color: rgb(228, 28, 145);
    color: #fff;
  }
  .contact h1{
    font-weight: 500;
    font-size: 1.5rem;
    color: #fff;
  }
  .contact-title{
    margin-left: 800px;
  }
  .head{
    font-size: 2rem;
    font-weight: 500;
    padding: 20px 0;
  }
  .description{
    padding: 5px 0;
  }
  .contact-title h3{
    padding: 15px 0;
  }
  .rule{
    border-bottom: 1px solid white;
  }
  .footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px  30px 10px ; 
  }

/* Media screen */
/* @media screen and (max-width: 800px) {
  .Nav-bar {
    flex-direction: column;
  }
} */


@media screen and (max-width: 800px) {
  .Nav-bar a:not(:first-child) {display: none;}
  .Nav-bar a.icon {
  float: right;
  display: block;
  align-items: center;
  }
}

@media screen and (max-width: 800px) {
  .Nav-bar.responsive {
    position: relative;
    flex-direction: column;
    align-items:flex-start;
    }

  .Nav-bar.responsive .icon {
  position:absolute;
  right: 0;
  top: 0;
  }

  .Nav-bar.responsive #hd1 {display: none;}

  .Nav-bar.responsive a {
    float:none;
    display:flex;
    flex-wrap: wrap;
    text-align: left;
    padding: 10px 33px;
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 800px) {
  .about-us{
    font-size: 1rem;
    flex-direction: column;
}
}

@media screen and (max-width: 800px) {
  .about-us div{
    width: 100%;
}
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
 
